:root {
    --bg-header: #06579E;
    --bg-button-gold:  linear-gradient(to right top, #ce7500, #d78721, #e19939, #eaab4f, #f3bd65, #f4bf66, #f6c066, #f7c267, #f1b552, #eba73d, #e59925, #df8b00);
    --hero-bg-overlay: linear-gradient(rgba(0, 80, 160, 0.5), rgba(0, 80, 160, 0.5));
}


header {
    background-color: var(--bg-header);
}

.btn-style {
    background-image: var(--bg-button-gold);
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 25px;
    width: 150px;
}

.nav-link-style{
    font-family: "Roboto";
    color: white;
    font-size: 14px;
}



.hero-wrapper {
    background-image: 
        var(--hero-bg-overlay),
        url('/imgs/johnson-county-public-market.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border: 0px solid black;
    border-radius:  0 0 70px 70px;
    margin: 0 64px 0 64px;
}


.hero-title {
    font-family: "Marcellus";
    font-size: 64px;
    text-wrap: wrap;
    line-height: 4rem;
    width: 80%;
}
.hero-text {
    font-family: 'Roboto';
    font-size: 28px;
    width: 75%;
}

.hero-cta {
    width: 30%;
}

.hero-right {
    width: 50%;
}

.hero-right {
  position: relative;
}

.circle-bg{
  position: absolute;
  top: 54%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: var(--bg-header);
  border-radius: 50%;
  z-index: 0;
}

.hero-right img {
  position: relative;
  z-index: 1;
}

