:root {
    --bg-header: #06579E;
    --bg-button-gold:  linear-gradient(to right top, #ce7500, #d78721, #e19939, #eaab4f, #f3bd65, #f4bf66, #f6c066, #f7c267, #f1b552, #eba73d, #e59925, #df8b00);
    --hero-bg-overlay: linear-gradient(rgba(0, 80, 160, 0.5), rgba(0, 80, 160, 0.5));
    --text-gold: #EAAF46;
}

body {
    background-color: #fafafa;
}


header, 
.bg-blue {
    background-color: var(--bg-header);
}

.text-white {
    color: white;
}

.btn-style {
    background-image: var(--bg-button-gold);
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 25px;
    width: 150px;
}

.nav-link-style{
    font-family: "Roboto";
    color: white;
    font-size: 14px;
}



.hero-wrapper {
    background-image: 
        var(--hero-bg-overlay),
        url('/imgs/johnson-county-public-market.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    border: 0px solid black;
    border-radius:  0 0 70px 70px;
    margin: 0 64px 0 64px;
}


.hero-title {
    font-family: "Marcellus";
    font-size: 64px;
    text-wrap: wrap;
    line-height: 4rem;
    width: 80%;
}

.hero-text {
    font-family: 'Roboto';
    font-size: 28px;
    width: 75%;
}

.hero-cta {
    width: 30%;
}

.hero-right {
    width: 50%;
}

.hero-right {
  position: relative;
}

.circle-bg{
  position: absolute;
  top: 54%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 470px;
  height: 470px;
  background-color: var(--bg-header);
  border-radius: 50%;
  z-index: 0;
}

.hero-right img {
  position: relative;
  z-index: 1;
}


.card-top {
    background-color: var(--bg-header);
}

.dollar-price {
    font-size: 112px;
    font-family: 'Roboto';
    color: var(--text-gold);
}
.perMonth {
    color: white;
    font-size: 16px;
    font-family: 'Roboto';
    text-wrap: wrap;
    width: 19%;
}

.green-check {
    color: green;
}

.features-text, 
.card-subtitle {
    font-size: 12px;
    font-family: 'Roboto';
}




.section-wrapper {
    background-color: var(--bg-header);
}

.reliable-title {
    font-family: 'Marcellus';
    font-size: 48px;
    color: white;
}

.reliable-text {
    font-family: 'Inter';
    font-size: 14px;
    color: white;
}

.list-title {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.list-solutions {
    font-family: 'Inter';
    font-size: 16px;
    color: white;
}

.wrapper {
    background-color: var(--bg-header);
}

.arrow-right {
    color: #EAAF46;
}

.fiber-title {
    color: #06579E;
    font-family: 'Marcellus';
    font-size: 48px;
}
.fiber-text {
    font-family: 'Inter';
    font-size: 14px;
    color: black;
}

.affordable-body {
    width: 60%;
    text-align: justify;    
}

.footer-title,
.footer-list-title {
    font-family: 'Inter';
    font-size: 18px;
    color: white;

}

.footer-text,
.footer-list-item {
    font-family: 'Inter';
    font-size: 16px;
    color: white;
}

.footer-list-item li a {
    text-decoration: none;
}

.footer-subtext,
.copyright {
    font-family: 'Inter';
    font-size: 12px;
    color: white;
}

.footer-social-icon {
    font-size: 32px;
    color: white;
}

.lower-footer {
    border-top: 2px solid #1863A5;
}

.card-title {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.card-text {
    font-size: 16px;
    font-family: 'Inter';
    color: white;
}

.btn-lm-style {
background: #cfcfcf;
background: linear-gradient(50deg, rgba(207, 207, 207, 1) 0%, rgba(24, 108, 171, 1) 25%, rgba(6, 87, 158, 1) 50%, rgba(6, 87, 158, 1) 75%, rgba(207, 207, 207, 1) 100%);    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 25px;
    width: 150px;
}

.serviced-title {
    color: var(--bg-header);
    font-size: 48px;
    font-family: 'Marcellus';
    width: 50%;
}

.service-card {
    border-radius: 25px;
    border: 1px solid white;
}

.service-card img {
    border-radius: 25px 25px 0 0;
}

.pitch-wrapper {
    background-image: 
        var(--hero-bg-overlay),
        url('/imgs/woman-smiling-at-work.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.perk-card {
    background-color: var(--bg-header);
    border-radius: 30px;
}

.perk-icon {
    border-radius: 50px;
}

.perk-text {
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-wrap: wrap;
}

.perk-border {
    border-bottom: 3px solid var(--text-gold);
    margin-bottom: 20px;
}

.pitch-title {
    font-size: 48px;
    font-family: 'Marcellus';
}